@import "../../../assets/colors.scss";
.home-page {
  background-color: $light-blue;
  min-height: calc(100vh - 56px);
}

.car-card {
  background-color: $light-gray;
  min-height: 275px;

  img {
    height: 40%;
    min-height: 40%;
  }
}

